.bg-ice-blue {
  background-color: #eef9ff !important;
}

.bg-white {
  background-color: white;
}

.bg-main {
  background-color: #f4f7fb;
}

.primary {
  color: #6434c8 !important;
}

.bg-primary {
  background-color: #6434c8 !important;
}

.br-16 {
  border-radius: 16px !important;
}

.br-32 {
  border-radius: 32px !important;
}

.full-width {
  width: 100%;
}

.no-shadow {
  box-shadow: none !important;
}

.grid-container {
  height: 100%;
}

.grid-w-4 {
  display: flex !important;
  justify-content: center;
  height: 100%;
  padding-top: 0 !important;
}

.wrapper {
  width: 80%;
  height: max-content;
  padding: 24px !important;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 60%;
}

.login-form-subheader {
  margin-top: -8px !important;
  margin-bottom: 16px !important;
}

.login-form-input {
  margin-top: 16px !important;
  margin-bottom: 32px !important;
  width: 60%;
}

.login-form-button {
  width: 60%;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 116px;
  width: 100%;
  padding: 32px;
}

.chat-list-item {
  display: flex !important;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.chat-list-item-label {
  margin-left: 12px !important;
  font-weight: 300 !important;
}

.chat-form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.feed-user {
  margin-left: 8px;
}

.feed-message {
  margin-top: 4px !important;
  font-weight: 400 !important;
}

.feed-content {
  display: flex !important;
  margin-bottom: 8px !important;
}

.feed-content-justified {
  justify-content: flex-end;
  margin-right: 16px !important;
}

.feed-meta {
  display: flex;
  align-items: center;
}
